<div id="search">
  <div class="input-group">
    <input id="search-input" type="search" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
    <button type="button" aria-label="{{ text_search }}"><i class="icon-search"></i></button>
  </div>
  <div id="search-results"></div>
</div>