<form action="index.php?route=checkout/payment_address/save" method="post" id="payment_address" enctype="multipart/form-data">
  {% if addresses %}
    {# Existing user addresses #}
    {% include 'helium/template/account/user_addresses.twig' with {form_name: 'js_new_payment_address'} %}
  {% endif %}
      <div id="js_new_payment_address_form">
        {% include 'helium/template/common/fields/firstname.twig' with {required: true,  type: 'payment'} %}
        {% include 'helium/template/common/fields/lastname.twig'  with {required: true,  type: 'payment'} %}
        {% include 'helium/template/common/fields/company.twig'   with {required: false, type: 'payment'} %}
        {% include 'helium/template/common/fields/address1.twig'  with {required: true,  type: 'payment'} %}
        {% include 'helium/template/common/fields/address2.twig'  with {required: false, type: 'payment'} %}
        {% include 'helium/template/common/fields/city.twig'      with {required: true,  type: 'payment'} %}
        {% include 'helium/template/common/fields/country.twig'   with {required: true,  type: 'payment'} %}
      </div>
        {% include 'helium/template/common/custom_fields.twig'    with {type: 'payment', location: 'address'} %}
  <div class="grid-footer">
    <button type="button" id="button-payment-address" class="primary" data-action="saveForm" data-form="payment_address" data-url="checkout/payment_address/save">{{ button_continue }}</button>
  </div>
</form>