{% if products %}
  <div class="module featured-products">
    <span class="h3">{{ heading_title }}</span>
    <div class="module-product-list">
    {% for product in products %}
      {% include 'helium/template/product/product_miniature.twig' with {product: product} %}
    {% endfor %}   
    </div>
  </div>
 {% endif %}