@font-face {
    font-family: 'Roboto Condensed';
    src: local('fonts/Roboto Condensed'), 
         local('fonts/RobotoCondensed-Regular'), 
         url('fonts/Robotocondensed.woff2') format('woff2'), 
         url('fonts/Robotocondensed.woff') format('woff'), 
         url('fonts/Robotocondensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
:root {
    /* Backgrounds */
    --bg-body:#ddd;
    --bg-main-blocks: #fffb;
    --bg-button: #fff;
    --bg-button-disabled: #999;
    --bg-inputs: #fffb;
    /* Text colors */
    --color-text: #333;
    --color-text-bright: #111;
    --color-text-muted: #777;
    --color-text-button: #111;
    /* Fancy things */
    --radius: calc(1rem * .5);
    
    /* Scrollbar colors */
    --scrollbar-thumb: #999;
    --scrollbar-thumb-hover: #777;

    /* Transitions */
    --time: .4s;
    --style: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* HSL color schema */
    --h: 230;
    --s: 76%;
    --l: 59%;
    --lighten: 15%;
    --darken: -15%;
    /* --color-1:   hsl(     var(--h),            var(--s),             var(--l)       );
    --color-2:   hsl(calc(var(--h) - 25), calc(var(--s) - 20%), calc(var(--l) - 10%));
    --color-3:   hsl(calc(var(--h) - 15), calc(var(--s) - 10%), calc(var(--l) - 10%));
    --color-4:   hsl(calc(var(--h) + 25), calc(var(--s) - 35%), calc(var(--l) - 15%));
    --color-5:   hsl(calc(var(--h) + 15), calc(var(--s) - 15%), var(--l)); */

    --color-1: hsl( var(--h), var(--s), var(--l) );
    --color-2: hsl(calc(var(--h) - 35), calc(var(--s) - 20%), calc(var(--l) - 10%));
    --color-3: hsl(calc(var(--h) - 20), calc(var(--s) - 10%), calc(var(--l) - 10%));
    --color-4: hsl(calc(var(--h) + 50), calc(var(--s) - 10%), calc(var(--l) - 15%));
    --color-5: hsl(calc(var(--h) + 100), calc(var(--s) - 15%), var(--l));



    --color-1-light:    hsl(var(--h), calc(var(--s) - 10%), calc(var(--l) + var(--lighten)));
    --color-1-dark:     hsl(var(--h), calc(var(--s) - 10%), calc(var(--l) + var(--darken)));

    --color-red: rgb(192, 1, 1);
    --danger:rgb(192, 77, 1);

    --gardient: linear-gradient(to right, var(--color-1) 0%, var(--color-5)  51%, var(--color-2)  100%);
    --gardient-2: linear-gradient(to right, var(--color-1) 0%, var(--color-2)  25%, var(--color-3)  50%, var(--color-4) 80%, var(--color-5)  100%);

    --icon-height: 1.3rem;

    --blocks-shadow: 0 0 3px 3px #3333;
    --inputs-shadow: 0 0 8px #3333;

}
/* Neccessary */
* {box-sizing: border-box; scroll-behavior:smooth}
body {font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Segoe UI Emoji,Apple Color Emoji,Noto Color Emoji,sans-serif;font-family:'Roboto',sans-serif;line-height:1.4;word-wrap:normal;color:var(--color-text);text-rendering:optimizeLegibility;
    background:var(--gardient-2);margin: 0 auto;width: 100%;max-width: 100%;overflow-x:hidden;display: flex;flex-wrap:wrap;gap:1rem;padding:0}

/* Responsive images and videos */
img,video,iframe[src*="youtube"] {max-width: 100%;height: auto}
/* Unstyled lists */
.list-unstyled {padding: 0; margin: 0; list-style-type: none}
/* Normalize appearence */
address,blockquote cite {font-style:normal}
button, .button,
input:not([type=checkbox]):not([type=radio]),
input[type=range],
select,
textarea {
    -webkit-appearance:none
}
textarea {
    display:block;
    margin: 0 0 1rem 0;
    box-sizing:border-box;
    resize:vertical;
    white-space: normal;
}
textarea:not([cols]) {
    width:100%;
    max-width: 100%;
    margin: 0 0 1rem 0;
    overflow-x: hidden;
    white-space: normal;
}
textarea:not([rows]) {
    min-height:40px;
    height:140px;
    margin: 0 0 1rem 0;
}


/* Cursor over interactive elements */
button,.button,input[type=button],input[type=checkbox],input[type=radio],input[type=range],input[type=reset],input[type=submit],select,summary,.menu-icon,.menu-icon.open {cursor:pointer}

/* Links */
a {text-decoration:none;color:var(--color-1);border-radius: var(--radius);display: inline-block;background: transparent; transition: color var(--time) var(--style)}
a:hover, a:focus {text-decoration:none; color: var(--color-1-dark)}

a[disabled] {pointer-events: none}
a.button:hover {text-decoration: none}


/* Inputs */
input,select {display:block}

[type=checkbox],
[type=radio] {
    display:initial
}


button, .button, a.button, a.primary,
input,
select,
textarea {
    color: var(--color-text-bright);
    font-family: inherit;
    font-size: inherit;
    padding:.7rem;
    border: none;
    outline: none;
    white-space: nowrap;
    justify-content: center;
    line-height: var(--icon-height);
    max-width: 100%;
    box-shadow: var(--inputs-shadow);
}
optgroup {font-style: normal; font-weight: 600}
button, .button, a.button, a.primary,
input,
select,
textarea:not([rows]) {
    height: 45px;
}
button, .button,
input[type=button],
input[type=reset],
input[type=submit] {
    background-color:var(--bg-button);
    display: flex;
    align-items: center;
}

button:hover, .button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    background:var(--bg-button)
}

/* Forms */
form {
    /* display: grid; */
    /* place-content: center; */
    /* grid-template-rows: 1fr; */
    /* max-width: 100%; */
}
label {cursor:pointer; user-select: none;}
.form-group {display: flex;flex: 1;align-items: center; padding: 0.5rem;  border-radius: var(--radius); flex-wrap: wrap; }
.form-group label {flex: 1 1 auto;max-width: 8rem}
.form-group input, .form-group select {flex: 1}
.has-error {
    box-shadow: inset 0 0 0 2px var(--danger);
    transition: all var(--time);
    margin: .5rem;
}
.form-group.has-error {
    background: rgb(192 77 1 / 4%);
}

/* Focusable elements */
a:focus, button:focus, .button:focus, summary:focus, dialog:focus, input:focus, select:focus, textarea:focus, div:focus, article:focus {
    border-color: transparent;
    border: none;
    outline: 2px solid var(--color-3);
}
.input-group>*:not(:last-child):focus {
    margin-right: 2px; /* Prevent overflowing outlines in button groups */
}
a:focus {
    outline-offset: 2px;
}
a.button:focus {
    outline-offset: 0;
}

/* Text that follows input group or form group - error message or some explanation */
.input-group span , .form-group span {
    flex: 1 0 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: .5rem 0 0;
}

.form-control {
    display: grid;
    grid-template-columns: 30px auto;
    gap: 1rem;
    margin: .5rem;
    align-items: center;
    transition: color var(--time);
}
input[type="checkbox"], input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--bg-inputs);
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 30px;
    height: 30px;
    border: 0.15em solid var(--color-text-muted);
    box-shadow: none;
    display: grid;
    place-content: center;
}

input[type="checkbox"] {border-radius:var(--radius)}
input[type="radio"] {border-radius: 50%}

  /* Checkmark polygon */
input[type="checkbox"]::before {
    clip-path: polygon(1% 53%, 49% 91%, 100% 25%, 82% 11%, 46% 59%, 16% 35%);
}
  /* Radiobutton circle */
input[type="radio"]::before {
    border-radius: 50%;
}
  
input[type="checkbox"]::before, input[type="radio"]::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: scale(0);
    transform-origin: center;
    transition: calc(var(--time) * 0.7) cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 1em 1em var(--color-1);
    /* Windows High Contrast Mode */
    /* background-color: CanvasText; */
    will-change: auto;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before {
    transform: scale(1);
}

/* Separate outline focus for custom checkboxes and radios */
input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid var(--color-3);
    outline-offset: max(2px, 0.15em);
}
  
input[type="checkbox"]:disabled, input[type="checkbox"]:disabled+label,
input[type="radio"]:disabled, input[type="radio"]:disabled+label {
    color: var(--color-text-muted);
    cursor: not-allowed;
}

@keyframes scale {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}

/* Breadcrumbs */

.breadcrumbs li:not(:last-child):after {content: "\203A";margin: 1rem 0}
.breadcrumbs li> * {padding: 0.5rem;white-space: nowrap;margin: 0.5rem;color: #000}
.breadcrumbs li {margin: 0}


/* Blocks with gap */
header, footer, main, aside, nav, nav > div, hgroup {
    display:flex;
    gap:1rem;
}



footer, main, aside > div, [data-accordion] {
    overflow: hidden;
}

main, aside {
    flex-direction: column;
    flex: 1 0 100%; /* 100% width for mobile */
    max-width: 100%;
}
body {
    flex-direction: row;
    flex: 1 0 100%; /* 100% width for mobile */
}

figure {
    display: flex;
    margin: 0;
    position: relative;
    padding: 0 0 1rem;
    justify-content: center;
    flex: 0 1 auto;
}
figure a {display:flex;width: 100%;justify-content: center;}
figcaption {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 0 0 var(--radius) var(--radius);
    background: #fffa;
}

/* Basic styling - background and colors */
.subcategory, .alert-danger, .alert-success, .block, img, video, input, textarea, fieldset, select, nav, footer, main, aside > div, [data-accordion], .miniature, details, dialog {
    background: var(--bg-main-blocks);
    border-radius: var(--radius);
    position: relative;
}
/* Separate background for select with svg chevron */
select {
    background: var(--bg-inputs) url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' height='63' width='117' fill='%23161f27'><path d='M115 2c-1-2-4-2-5 0L59 53 7 2a4 4 0 00-5 5l54 54 2 2 3-2 54-54c2-1 2-4 0-5z'/></svg>") calc(100% - 12px) 50%/12px no-repeat;
    padding-right:35px;
}
/* Padding for main blocks */
nav, footer, main, aside > div, [data-accordion], .block {
    padding: 1rem;
}
/* Ordering -  mobile */
header              {order: 0}
nav                 {order: 1}
main                {order: 2}
#content-bottom     {order: 3}
aside#column-left   {order: 4}
aside#column-right  {order: 5}
footer              {order: 6}
.mobile_buttons     {order: 10}



/* Horizontal 100% width blocks */
header, nav, footer, .breadcrumbs {
    flex-direction: row;
    flex: 1 0 100%;
    flex-wrap: wrap;
}



nav, hgroup {
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-items: center;
}
/* Title of product page */
hgroup {flex-wrap: wrap}
hgroup > * {
    width: 100%;
    flex: 1 0 100%;
    justify-content: center;
    text-align: center;
}

/* Typography */
ul {margin: 0; padding: 0;}
/* Tables */
table {border-collapse:collapse;margin-bottom:10px;width:100%;table-layout:fixed}
table caption, td, th {text-align:left}
td,th {padding:6px;vertical-align:top;word-wrap:break-word;}
td:first-child{border-radius: var(--radius) 0 0 var(--radius)}
td:last-child{border-radius: 0 var(--radius) var(--radius) 0}

thead {border-bottom:1px solid var(--border);font-weight: 600;}
tfoot {border-top:1px solid var(--border)}
tbody tr:nth-child(1n) {background-color:var(--bg-main-blocks)}
tbody tr:nth-child(2n) {background-color:var(--bg-body)}

.text-right {text-align: right}
.text-left {text-align: left}

/* Fieldsete and legends */
legend {
    font-weight:600;
    text-transform: uppercase;
    background: #fff;
    top: -4px;
    box-shadow: 0 0 3px var(--color-1);
    border-radius: calc(var(--radius) * 0.7);
    padding: 5px;
}
fieldset {
    box-shadow: 0 0 3px var(--color-1);
    padding:10px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    border: none;
}
/* If input is not in .form-group */
fieldset>input, fieldset>select {
    margin: .5rem;
}

/* Headers */
.uppercase, hgroup, .module .h3 {text-transform: uppercase}
hgroup h1, .module .h3 {padding: 0}
.relative, .module {position:relative}
.hidden-md {display: none!important}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    margin:0;
    width: 100%;
    padding: 0 0 .5rem 0;
}
/* Fonts */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,
.pagination, .breadcrumbs, .contents, span.product-flag {
    font-family: 'Roboto Condensed';
    line-height: 1;
}


h1,.h1 {font-size: 1.55rem}
h2,.h2 {font-size: 1.3rem}
h3,.h3 {font-size: 1.25rem}
h4,.h4 {font-size: 1.2rem}
h5,.h5 {font-size: 1.15rem}
h6,.h6 {font-size: 1.1rem}

b,h1,h2,h3,h4,h5,h6,strong,th {
    color:var(--color-text-bright);
    font-weight:600
}

/* Components */
/* Components - Accrodion */
[data-accordion] {
    position: absolute;
    top: 100%;
    overflow: hidden;
    z-index: 1;
    height: 0;
    padding: 0;
}
[data-accordion][aria-expanded="true"] {
    box-shadow: var(--blocks-shadow);
}
/* Details - related to accordion */
details {display:flex;flex-direction:column;align-items:flex-start;margin:0;overflow:hidden}
details[open] {padding:0}
details>:last-child {margin-bottom:0}
details[open] summary {margin-bottom:0}
summary {border: none;outline: none;padding:.5rem;margin:2px;display: flex;align-items: center;border-radius: var(--radius)}
/* Headers in summary */
details>summary>* {padding: 0}
details>summary:first-child::before {content: "\2BC8";padding-right: .5rem}
details[open]>summary::before {content: "\2BC6";padding-right: .5rem}

details>:not(summary) {margin: 1rem}
summary::-webkit-details-marker {color:#363636;color:var(--color-text-button)}
details[disabled], details[disabled] summary {color: var(--color-text-muted);pointer-events: none}


/* Dialogs */
/* dialog {border: none; outline: transparent; box-shadow: 0 0 5px #333; position: fixed; transition: transform var(--time) var(--style); transform: scale3d(0,0,0);  scrollbar-gutter: auto!important;} */
dialog {border: none; outline: transparent; box-shadow: 0 0 5px #333; position: fixed; scrollbar-gutter: auto!important;}
dialog.animate{transition: transform var(--time) var(--style); transform: scale3d(0,0,0); }
dialog.visible {transform: scale3d(1,1,1);}
dialog::backdrop {
    /* backdrop-filter: blur(5px); */
    animation: blur-in 500ms forwards; /* Important */
    background: #0003; /* Firefox does not support dialog::backdrop blur, so let it be just color*/
    will-change: transform;
}

@keyframes blur-in {
    from {
        background-color: #00000000;
        /* backdrop-filter: blur(0px); */
    }
    to {
        background-color: #00000050;
        backdrop-filter: blur(20px);
    }
}

button.close {width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px}
button.close:after {
    content: "\00d7";
    width: 100%;
    font-size: 2rem;
}
/* Position and appearence of product remove buttons in cart */
tr[id^='product_id_'] {position: relative;}
tr[id^='product_id_'] button.close {background: transparent;box-shadow: none;}


/* Main menu */
#main-menu .menu {position: relative;overflow: hidden;height: 50vh;scrollbar-gutter: auto;background: #fff;box-shadow: var(--blocks-shadow);border-radius: var(--radius)}
#main-menu ul {transition: var(--style) var(--time);background: #fff;margin: 0;padding: .2rem;overflow-y: auto;height: 50vh}
#main-menu li {list-style-type: none;margin: .1rem 0;padding: 0;display: grid;grid-template-columns: 300px 40px 40px;align-items: center;grid-template-rows: 50px}
#main-menu a {padding: .5rem}
#main-menu ul:not([data-parent="0"]) {position: absolute;top: 0;left: 0;transform: translateX(110%)}
#main-menu ul:not([data-parent="0"]).open {transform: translateX(0)}
/* Main menu - Forward button */
#main-menu button.menu-forward:after {content: "\2BC8"}/* main menu - back button */
#main-menu button.menu-back:before {content: "\2BC7"}
/* Menu - product count */
span.product_count {min-width: 24px;  height: 24px;  text-align: center;  border-radius: 5px;  color: var(--bg-main-blocks);  background: var(--gardient);  margin: 0 5px;  padding: 0 3px; line-height: 25px}
/* Animated main menu icon */
.menu-icon {width:21px;height:21px;position:relative;transition:.5s;display:inline-block;margin:0 10px}
.menu-icon span {width:5px;height:5px;background-color:#fff;display:block;border-radius:50%;position:absolute}
.dropdown-toggle:hover .menu-icon span {transform:scale(0.9);box-shadow:0 0 0 1px #333}
.menu-icon.open {transform:rotate(180deg);transition:.5s cubic-bezier(.8, .5, .2, 1.4)}
.menu-icon.open span {border-radius:50%;transition:.5s cubic-bezier(.8, .5, .2, 1.4)}
.menu-icon span:nth-child(1) {left:0;top:0}
.menu-icon span:nth-child(2) {left:8px;top:0}
.menu-icon span:nth-child(3) {right:0;top:0}
.menu-icon span:nth-child(4) {left:0;top:8px}
.menu-icon span:nth-child(5) {position:absolute;left:8px;top:8px}
.menu-icon span:nth-child(6) {right:0px;top:8px}
.menu-icon span:nth-child(7) {left:0px;bottom:0px}
.menu-icon span:nth-child(8) {position:absolute;left:8px;bottom:0px}
.menu-icon span:nth-child(9) {right:0px;bottom:0px}
.menu-icon.open span:nth-child(2) {left:4px;top:4px}
.menu-icon.open span:nth-child(4) {left:4px;top:12px}
.menu-icon.open span:nth-child(6) {right:4px;top:4px}
.menu-icon.open span:nth-child(8) {left:12px;bottom:4px}



/* Components - Search  */
#search, .search, #search-input {flex: 1}
#search #search-results.some-results {max-height: 80vh; box-shadow: var(--blocks-shadow); height: auto; transition: var(--style) var(--time); padding: 1rem .5rem 0 1rem; backdrop-filter: blur(10px)}
#search #search-results {position: absolute; left: 0; top: 100%; width: 100%; z-index: 1; background-color: var(--bg-main-blocks); max-height: 0; overflow-y: auto; border-radius: var(--radius); padding: 0; transition: var(--style) var(--time); will-change: contents; backdrop-filter: blur(0px)}
/* Shrink timer in search results */
#search-results .timer {padding: .5rem  0}
#search-results .time {margin: 0 0.5rem}
#search-results .time > span:first-child {font-size: 1rem}



/* Compinents - Alerts */
.alert-danger {background: #ff9e9e;padding: 1rem;border: 2px solid #ff7575;color: #800008;border-radius: var(--radius)}
.alert-success {background: #55e43f;padding: 1rem;border: 2px solid #53c774;color: green;border-radius: var(--radius)}
/* Components - Pagination */
.pagination {align-items: center}

/* Components - buttons */
button, .button {
    border-radius: var(--radius);
    text-align: center;
    background: var(--bg-button);
    color: var(--color-text-button);
    justify-content: center;
    align-items: center;
    position: relative;
}
a.button.primary,
a.primary,
button.primary {
    background-image: var(--gardient);
    text-transform: uppercase;
    transition: background-position .2s;
    background-size: 200% auto;
    color: white;            
    flex: 1; /* Grow primary button in button group */
    user-select: none;
}
button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
    cursor:not-allowed;
    opacity:.5;
    background: var(--bg-button-disabled);
    color: #fff;
}
.primary:hover {
    /* background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%); */
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
button:active, .button:active, .primary:active, button.active {
    box-shadow: inset 2px 2px 6px 3px #0002, inset -2px -2px 6px 3px #2222;
}
.primary[disabled], a.primary[disabled] {
    background: #777;
}





/* Button group */
.btn-group {gap: 1rem}
.btn-group+.btn-group {padding: 1rem 0 1rem 0;}

/* Input groups, Button groups */
.input-group, .btn-group {display:flex;flex-direction:row;flex-wrap:nowrap;align-items:center}
.input-group {box-shadow: var(--inputs-shadow); border-radius: var(--radius)}
.input-group > * {box-shadow: none}
/* Round corners on input groups */
.input-group :first-child {border-radius: var(--radius) 0 0 var(--radius)}
.input-group :last-child {border-radius: 0 var(--radius) var(--radius) 0}






/* Product counter in header buttons */
button:has(span.product-count) {position: relative}
header span.product-count:not(:empty) {background: var(--color-red);position: absolute;padding: 5px;width: 28px;height: 28px;border-radius: 50%;right: -10px;top: -10px;box-shadow: inset 1px 1px 2px 1px #dd8d8dc7, inset -1px -1px 1px 1px #3339;color: #fff;text-align: center;line-height: 1.1rem;font-weight: bold}



/*
[1]: Make a flex container so all our items align as necessary
[2]: Prevent items from wrapping
[3]: Automatic overflow means a scroll bar won’t be present if it isn’t needed
[4]: Make it smooth scrolling on iOS devices
[5]: Hide the ugly scrollbars in Edge until the scrollable area is hovered
[6]: Hide the scroll bar in WebKit browsers
*/
.scroll {
    display: flex; /* [1] */
    flex-wrap: nowrap; /* [1] */
    overflow-x: auto; /* [1] */
    -webkit-overflow-scrolling: touch; /* [4] */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */ 
}
/* [6] */
.scroll::-webkit-scrollbar {
    display: none; 
}
/*
CSS: for the items
Each item needs a flex-grow and flex-shrink value of 0. The flex-basis property can be a percentage or pixel value if you for some reason need items to be of a specific width.
*/
.scroll > * {
    flex: 0 0 auto; 
}

.scroll-x {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    max-width: 100%;
    overflow-x: auto;
    scroll-snap-type:x mandatory;
    /* gap: 1rem; */
    will-change: scroll-position;
    border-radius: var(--radius);
}
.scroll-x > * {
    display: flex;
    /* flex: 0 1 auto!important; */
    scroll-snap-align: center;
    max-width: 100%;
    margin: .5rem;
}
/* Remove unnecesary scrollbar-gutter on horizontal scrolling blocks */
.scroll-x {scrollbar-gutter: initial;}
/* Aside modules */
aside>div.module{display: flex; flex-direction: column;}
/* Filter */
#filter>.sort {display: flex;flex-direction: column;}
#filter>div[id^='filter_group_'], #filter>.sort {padding: 0 0 1rem 0;}
/* Slider scroll buttons */
.module button.scroll_left {position: absolute;right: 45px;top: 5px;width:35px; height:35px}
.module button.scroll_right {position: absolute;right: 5px;top: 5px;width:35px; height:35px}

/* Max width for products and blog articles in scroll container - accounting flags, that are offset a little to the left */
.scroll-x article {max-width: min(20rem, calc(100% - 0.7rem)); margin: 1rem}
/* Braedcrumbs scrolling */
.breadcrumbs.scroll-x {list-style-type: none; margin:-1rem 0; padding: 0}
/* Mobile buttons scrolling */
.mobile_buttons.scroll-x {position: fixed;bottom: 0;left: 0;right: 0;gap: 0.3rem;padding: 0.3rem;background: var(--bg-main-blocks);z-index: 1; display: flex;}

.mobile_button {
    display: flex;
    flex-direction: column;
    width: 20%;
    flex: 1 0 auto!important;
    white-space: normal;
    padding: 0.2rem;
    margin: 0.1rem;
}
.mobile_button span {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

/* SCROLL X FOR COLUMNS, CHILD ELEMENT ALWAYS 100% WIDTH */
/* .scroll-x {
    display: flex;
    width: 100%;
    overflow: auto;
}
.scroll-x > * {
    display: flex;
    flex: 0 0 100%;
    box-sizing: border-box;
} */


/* Product and blog miniature */
/* Padding for short description */
.miniature .infos {padding: 1rem;text-align: justify}
/* Grow infos, so miniatures are always the same height */
.miniature, .miniature > .infos, .caption {display: flex;flex-direction: column;flex: 1 0 auto}
/* Align product names and blog articles titles */
.miniature h3, .miniature .h3, .rating  {text-align: center;}
.miniature h3 a { padding: 0.5rem; margin: -0.5rem;}

/* Product flags */
.flags {position: absolute; top: 0; left: 0; width: 0}
span.product-flag {background: #777;margin: 6px 0 0 -6px;padding: 2px 7px;border-radius: calc(var(--radius) * .7);color: #eaeaea;font-size: 0.8rem;white-space: nowrap;display: inline-block;opacity: .6;transition: opacity var(--time);text-shadow: 0px 0px 3px #111;box-shadow: 0 0 5px #555;background-size: 400% 400%; animation: gradient 5s ease infinite; text-transform: uppercase}
span.product-flag i::before     {font-size: 1rem}
span.product-flag.wishlist      {background-image: linear-gradient(92deg, #cd3232, #a12727)}
span.product-flag.sale          {background-image: linear-gradient(92deg, #dd320b, #c28d1a)}
span.product-flag.discount      {background-image: linear-gradient(92deg, #e5205b, #e56820)}
span.product-flag.bestreviews   {background-image: linear-gradient(92deg, #5049bb, #245ec4)}
span.product-flag.bestseller    {background-image: linear-gradient(92deg, #2a9933, #2c6bb3)}
span.product-flag.video         {background-image: linear-gradient(92deg, #c72626, #c72626)}
span.product-flag.special       {background-image: linear-gradient(92deg, #9d3535, #f1b406)}
span.product-flag.new           {background-image: linear-gradient(92deg, #48b76e, #236e08)}
/* Flags opacity, when parent block is hovered */
#photos:hover span.product-flag,
.miniature:hover span.product-flag {opacity: .9; transition: opacity var(--time) var(--style)}
/* Flags background animation */
@keyframes gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

/* Timer countdown */
.timer {position:relative;bottom:0;display:flex;justify-content:center;flex-direction:row;flex-wrap:wrap;padding:1rem;font-weight:bold;background:#fff7;text-align:center}
.timer > span {width:100%}
.time {display:flex;flex-direction:column;align-items:center;margin:0 1rem}
.miniature .timer {position:absolute}
.miniature .time > span:first-child {font-size:1.5rem}
/* Product quantity */
input[name="quantity"] {max-width: 80px}




/* Grids */
.grid {
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 1rem;
    padding: 0 0 1rem 0;
    grid-auto-rows: 1fr;
    width: 100%;
}
.product.grid,
.article.grid {
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    will-change: contents;
}
/* Blog article mimature */
.article-infos {justify-content:space-between;display:flex;padding:.5rem}


/* Pages */
/* Category */
/* Category - scrollable description */
main #category_description {overflow-y:auto;max-height:200px;position:relative;width:100%;border-radius: var(--radius)}
span.price-new {color: var(--danger); font-weight: 600;}
.short-description {flex: 1}
span.price-old {color: var(--color-text-muted);font-size: 1rem;flex: 1 0 100%;display: flex;justify-content: center;padding: .5rem;}
.price-old .price-value {text-decoration: line-through; text-decoration-color: var(--color-text);}
hgroup h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 0;
}

/* Subcategory */
.subcategory {
    text-align: center;
    padding: 1rem;
    scroll-snap-align:center
}
/* Subcategories responsive grid */
.subcategories.grid {grid-auto-flow: column; overflow-x: auto; grid-auto-columns: minmax(12rem, 1fr); scroll-snap-type:x mandatory}
/* Subcategory - thumb */
.subcategory a {display: flex;align-items: center;flex-direction: column; gap: 1rem}


/* Product page */
/* Rating on popup dialog */
.star-on {color: orange;}
.star-off {color: grey;}
.rating {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}
.reviews-count {
    font-size: 18px;
    color: var(--color-text);
}

#form-review .rating {
    width: 500px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow:hidden;
    flex-direction: row-reverse;
    max-width: 100%;
}
.rating input {
    float: right;
    opacity: 0;
    position: absolute;
    display: none;
}
.rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    transition: color var(--animation-duration);
}
.rating input:checked ~ label,
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover {
    color: rgb(255, 166, 0);
}
.rating label:before, .rating label::after {
    display: none;
}

#js_reviews {display: flex; flex-direction: column; gap: 1rem;}
div.review .review_header, div.review .review_header address {display: flex; gap: 1rem;}
div.review .review_header address {flex: 1;}
input#input-quantity {text-align: center}

.product_top #photos, .product_top .infos {
    display: flex; flex-direction: column;
}

/* Media query for desktops */
/* 63.938rem = 1023px */
/* 64rem = 1024px */
@media (max-width: 63.938rem) {
    .mobile_menu {
        justify-content: center;
        position: fixed;
        z-index: 1;
        bottom: 4.5rem;
        left: 1rem;
        right: 1rem;
        /* top: 1rem; */
        border-radius: var(--radius);
        box-shadow: var(--blocks-shadow);
        background: var(--bg-main-blocks);
        transform: translateX(calc(1rem + 110%));
        transition: var(--time) var(--style);
        z-index: 2;
        /* Firefox bug with position fixed and backdrop filter */
        /* backdrop-filter: blur(5px); */
    }
    .mobile_menu.open {
        transform: translateX(0%);
    }
    p {text-align: justify} /* Prettyfy text on narrow screens */
    .wrapper {
        display: flex;
        justify-content: center;
    }
    dialog {
        width: 100%;
    }
}
/* Hide product short descriptions in mobile blocks on small screens so block fits vertically without overflow */
@media (max-height: 896px) {
    .mobile_menu .short-description {
        display: none;
    }
}

@media (min-width: 64rem) {
    main#product .product_top {
        display: flex;
        justify-content: space-between;
    }
    /* ul.contents.scroll-x {justify-content: end} */
    .product_top #photos, .product_top .infos {max-width: 50%;}
    body {
        flex-direction: row;
        flex: 1;
        padding: 0 1rem;
    }
    /* Ordering */
    aside#column-left {order: 2}
    main {order: 3}
    #content-bottom     {order: 4}
    
    /*  Scrollbar  */
    ::-webkit-scrollbar {height:10px;width:10px}
    ::-webkit-scrollbar-track {background:transparent;border-radius:6px}
    ::-webkit-scrollbar-thumb {background:var(--scrollbar-thumb);border-radius:6px}
    ::-webkit-scrollbar-thumb:hover {background:var(--scrollbar-thumb-hover)}
    body, #main-menu ul, .scroll-x, #category_description, select, #search-results, dialog {
        scrollbar-color:var(--scrollbar-thumb) transparent; 
        scrollbar-width:thin; 
        scrollbar-gutter:stable; 
        -webkit-scrollbar-gutter:stable;
        -webkit-overflow-scrolling: touch;
        scroll-behavior:smooth;
    }
    /* Remove unnecesary scrollbar-gutter on horizontal scrolling blocks */
    .scroll-x {scrollbar-gutter: initial;}
    
    /* Subcategories - display as grid */
    .subcategories.grid {grid-auto-flow: initial}

    main {
        flex: 1;
    }
    aside {
        /* Width of the aside column */
        flex: 0 0 max(21rem, 20%);
        max-width: max(21rem, 20%);
    }
    .hidden-md {display: initial!important}

    hgroup > * {
        /*! width: 50%; */
        flex: 1;
        justify-content: unset;
        /* text-align: left; */
    }
    hgroup .wrapper {
        display: flex;
        justify-content: end
    }
    hgroup .title {flex: 1;}
    hgroup h1 {align-items: flex-start;}
    hgroup .rating {justify-content: flex-start;}

    .mobile_buttons {display: none!important}
    dialog {width: 800px;}
}
